.vertical-line {
  height: 30px;
  width: 1px;
  background-color: #ddd;
  margin: 0 10px;
}

.nav-text {
  color: #003b64;
  font-weight: 500;
  font-size: 20px;
}

.nav-text1 {
  color: #014e83;
  font-size: 15px;
}

.nav-img {
  height: 16px;
  width: 16px;
}

.subnav {
  background: linear-gradient(to right, #2271a0 0%, #7c49ab 100%, #7bd9e8 100%) repeat scroll 0 0;
}

.banner-container {
  position: relative;
  text-align: center;
}

.banner-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.banner-text h2 {
  font-size: 3rem;
  /* margin-bottom: 10px; */
}

.banner-text p {
  font-size: 1.25rem;
}

.bg-footerb {
  background-image: linear-gradient(to right, #1a4492, #1c4ca3);
  /* background-image: linear-gradient(to right, #00114d, #1c4ca3); */
}

.bg-footer {
  background-image: linear-gradient(to right, #235fcd, #1c4ca3);
}

.rec-box {
  display: inline-block;
  padding: 10px 30px;
  background-color: #1649a2;
  color: white;
  font-size: 16px;
  /* font-weight: bold;  */
  text-align: center;
  text-decoration: none;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 2px solid #1649a2;
}

.text-justify {
  text-align: justify;
}

/* Gradient Backgrounds for Cards */
.gradient-blue {
  background: linear-gradient(45deg, #3b82f6, #1e40af);
}

.gradient-yellow {
  background: linear-gradient(45deg, #fbbf24, #d97706);
}

.gradient-green {
  background: linear-gradient(45deg, #10b981, #065f46);
}

.gradient-teal {
  background: linear-gradient(45deg, #14b8a6, #0f766e);
}

/* Hover Scale Effect */
.card1:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.nav-tabs .nav-link {
  flex: 1;
  /* Ensures tabs take equal width */
  text-align: center;
  /* border: 1px solid #ddd; */
  border-radius: 0;
  font-weight: 600;
  padding: 10px;
}

.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* .tab-content .tab-pane {
    padding: 20px; 
} */
canvas {
  width: 100% !important;
  height: 300px !important;
}

.p-text {
  line-height: 31px;
  font-weight: 500;
}

.p-texthead {
  color: #B5772F;
  display: flex;
}

.card-img-top {
  width: 59px !important;
  height: 59px !important;
}

.in-progress {
  background-color: #EAD6FF;
  color: #801FE4;
  border-top: #EAD6FF;
}

.completed {
  background-color: #D4FFDC;
  border-top: #D4FFDC;
  color: #00C220
}

.total-scheme {
  background-color: #FFCED8;
  color: #F33860;
  border-top: #FFCED8;
}

.in-progress1 {
  color: #801FE4;
}

.completed1 {
  color: #00C220
}

.total-scheme1 {
  color: #F33860;
}

.custom-border {
  border-left: 3px solid #696565;
  /* Blue color for the left border */
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;

}

.card-width {
  width: 12em;
}

.card-count {
  color: #003b64;
}

.card-image {
  width: 50px;
  /* Set your desired width */
  height: 50px;
  /* Set your desired height */
  border-radius: 0;
}

.gallery-header {
  background-color: #B5772F;
}

.gallery-container {
  /* width: 250px; */
  height: 655px;
  overflow: hidden;
  position: relative;
}

.gallery {
  display: flex;
  flex-direction: column;
  animation: scrollUp 19s linear infinite;
}

.gallery img {
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

.count-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.count-box {
  text-align: center;
  min-width: 80px;
}

.count-number {
  font-size: 27px;
  font-weight: bold;
  color: #333;
}

.count-label {
  font-size: 14px;
  color: #777;
}

.count-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.count-box {
  flex: 1;
}

.count-number {
  font-size: 24px;
  font-weight: bold;
}

.count-label {
  font-size: 14px;
  color: gray;
}

.nagpur .count-number:nth-child(1) {
  color: #007b01;
}

.pune .count-number:nth-child(1) {
  color: #0000fa;
}

.amravati .count-number:nth-child(1) {
  color: #dccd00;
}

.konkan .count-number:nth-child(1) {
  color: #fe0002;
}

.nashik .count-number:nth-child(1) {
  color: #80007f;
}

.sambhajinagar .count-number:nth-child(1) {
  color: #f87219;
}

.img-cards {
  width: 100%;
  height: 173px;
  object-fit: contain;
}

.box-title {
  /* background-color: #1649A2; */
  background-color: #2041bb;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1rem;
  text-align: center;
  padding: 8px 40px;
  margin-bottom: 10px;
  display: inline-block;
}

/* Justify the Disclaimer Paragraph */
.disclaimer-text {
  text-align: justify;
  max-width: 90%;
}
.card-header{
  color:#1d3661;
}
/* Center the Quick Links */
.quick-links {
  background-color: #1649A2;
  padding: 10px 20px;
  max-width: 200px;
}

.quick-links li {
  margin: 5px 0;
}

.footer1 {
  background: linear-gradient(to right, #235FCD, #1C4CA3);
  /* background: linear-gradient(to right, #0b1c77, #1C4CA3); */

}

.exponent {
  font-size: 0.8rem;
  vertical-align: super;
  color: #ffffff;
}
/* @keyframes waterFlow {
  from {
    background-position: -100% center;
  }
  to {
    background-position: 0 center;
  }
}

.region-status-overview {
  position: relative;
  min-height: 100vh; 
  background-image: url('images/water.png'); 
  background-size: auto 100%; 
  background-repeat: repeat-x;
  background-position: center;
  animation: waterFlow 15s linear infinite;
} */

@media screen and (max-width: 425px) {
  .banner-text h2 {
    font-size: 1rem;
    /* margin-bottom: 10px; */
  }

  .banner-text p {
    font-size: 0.8rem;
  }

  .banner-text {
    top: 42%;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .gallery-container {
    display: none !important;
  }

  .nav-text {
    font-size: 18px;
  }
}